body{
    background-color: rgb(138, 138, 138);
}

div.iphoneFrame{
    background-color: black;
    width: 370px;
    height: 700px;
    margin: auto;
    border-radius: 60px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
    border-width: 4px;    
}

div.screen{
    background-color: rgb(27, 27, 27);
    width: 350px;
    height: 680px;
    border-radius: 50px;
    margin: auto;
    margin-top: 2%;
}

div.edge{
    background-color: black;
    width: 170px;
    height: 30px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.home{  
    background-color: rgb(175, 175, 175);
    width: 150px;
    height: 4px;
    border-radius: 4px;
    margin-top: 182%;
    margin-left: auto;
    margin-right: auto;
}

div.time{
    position: absolute;
    color:rgb(175, 175, 175);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35px;
}

#time{
    position: absolute;
    color:rgb(175, 175, 175);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35px;
}

div.speaker{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(22, 22, 22);
    margin-top: 6px;
    margin-left: 55px;
}

div.cam{
    position: absolute;
    background-color: rgb(14, 14, 14);
    width: 7px;
    height: 7px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(22, 22, 22);
    margin-top: 5px;
    margin-left: 130px;
}

.icons{
    position: absolute;
    margin-left: 180px;
    margin-top: 10px;
}

div.game{
    position:fixed;
    background-color: rgb(98, 110, 180);
    width: 326px;
    height: 615px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(148, 147, 147);
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 0px;
}

h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
div.picture{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: rotate(-270deg);
    margin-top: 150px;
}

div.donate {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 130px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 25px;
    color: rgb(20, 80, 23);
    background-color: rgb(107, 177, 124);
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
}

div.donate:hover{
    background-color: rgb(164, 201, 173);
    color: rgb(20, 39, 80);
}

div.startButton{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 110px;
    margin-right: 110px;
    padding: 15px;
    padding-left: 22px;
    color: rgb(80, 20, 20);
    background-color: rgb(177, 107, 107);
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
}

div.startButton:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(37, 20, 20);
}

a{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    color: rgb(227, 230, 228);
    text-decoration: none;
}

a.play{
    font-size: 20px;
}
